.heading{
    font-size: 30px;
    font-weight: bold;
    
}

.navbar{
    font-size: 20px;
}

.moduleHeadings{

    font-size: 40px;
    font-weight: 500;
    font-style: "oblique";
    margin-left: 36%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

  .formsBackground{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    border: 20px soid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3) ;
    color: #fff;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    margin-bottom: auto;
    
  }

  /* form inside contents */
.moduleContents{  
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
    padding-top: 50px;
    max-width: 500px;
    padding:50px;
    color: black;
    text-align:center;
    display: block;
    text-align: left;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
   
}

.healthDetailsHeading{
   margin-left: 20%;
}

.healthDetails{
    margin-top: 85px;
    margin-left: 28%;
}

.ownerHeading{
    margin-left: 28%;
}

.loginPage{
    margin-top: 80px;
    margin-left: 28%;
}

.loginHeading{
    font-weight: 500;
    color: black;
}

.traineeForm{
    margin-top: 80px;
  margin-left: 28%;
}

.traineeHeading{
    margin-left: 26%;
}

.trainerForm{
    margin-top: 80px;
    margin-left: 27%;
}

.trainerHeading{
    margin-left: 26%;
}

.workoutPlanHeading{
    margin-left: 30%;

}

.workoutPlan{
    margin-top: 80px;
    margin-left: 27%;
}

.paymentDetailsHeading{
    margin-left: 13%;
}

.paymentDetails{
    margin-top: 85px;
    margin-left: 28%;
}

.bMICalculatorHeading{
    margin-left: 27%;
}

.bMICalculator{
    margin-top: 80px;
    margin-left: 26%;
}

.calorieCounterHeading{
    margin-left: 26%;
}

.calorieCounter{ 
    margin-top: 80px;
    margin-left: 28%;
}

.membershipPlanHeading{
    margin-left: 15%;
}

.membershipPlan{ 
    margin-top: 85px;
    margin-left: 28%;
}

.Quotes{
    color: #08ffffeb;
    font-weight: 900;
}

.routing{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.backgroundColor{
    background-color: rgba(126, 145, 131, 0.26);
}

.backgroundImages{
    max-width: 100%;
    background-image: url(./Images/background1.jpg);
    background-size: cover;
}

.ownerFormButton{
    margin-left: 36%;
    width: 25%;
}

.ownerForm{
    margin-left: 27%;
}

.login{
    max-width: max-content;
}

.navbar{
   background: transparent;
   height: 80px;
   display: flex;
   justify-content: center;
   font-size: 1.2rem;
   top: 0;
   z-index: 999;
   position: fixed;
   width: 100%;
  
}

.navbar.active{
background: linear-gradient(90deg,rgb(194, 152, 2)0%,rgb(0,78,194)100%);
}

.homePageMargine{
    margin-top: 75px;
}

.clock{
    margin-top: 20;
    position: absolute;
    z-index: 100;
   margin-left: 45%;
 
  transform: scale(1.5);
}

.clockPositioning{
    position: relative;
}
.ownerProfileHeading{
    font-size: 30px;
    font-weight: 800;
}

.OwnerProfile{
    margin-top: 120px;
    font-weight: bold;
}

.checks{
    margin-top: 200px;
    z-index: 100;
}

.ownerProfileForm{
    font-size: 5px;
}

.traineeProfile{
    margin-top: 80px;
}

.traineeProfileFirstContainer{
margin-bottom: 0;
}

.traineeProfileSecondContainerHeading{
    text-align: center;
}

.traineeProfileSecondContainer{
    margin-left: 25%;
}

.traineeProfileSecondContainerContent{
    margin-left: 32%;
}

.formValidationError{
    font-size: 12px;
    color: red;
}

.traineeProfileHeading{
    margin-left: 20%;
}

.trainerProfileHeading{
    margin-left: 40%;
}

.ownerProfilePageHeading{
    margin-left: 40%;
}

.dietPlanHeading{
    margin-top: 100px;
    margin-left: 38%;
}

.bMIbutton{
    margin-left: 2%;
}

.searchButton{
   color: black;
   
}

.calorieButton{
    margin-left: 2%;
}


.backgroundColor {
    background-color: #F4E0BF;
   }
   
   .aboutUsheading{
       font-size:40px;
       margin-top: 10px;
       margin-bottom:10px;
       margin-left: 43%;
       font-weight: 100;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }


   .aboutUsmoto{
       font-size:31px;
       margin-top: 50px;
       margin-bottom:50px;
       margin-left: 50px;
       margin-right: 50px;

   }

   .aboutUstext{
       font-size:23px;
       margin-top: 20px;
       margin-bottom:30px;
       margin-left: 70px;
       margin-right: 30px;
       margin-right: 90px;

   }

   .aboutUsheadingphilosophy{
       font-size:40px;
       margin-top: 80px;
       margin-left: 41%;     
       font-weight: 100;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       
   }

   .aboutUstextphilosophy{
       font-size:23px;
       margin-top: 20px;
       margin-bottom:40px;
       margin-left: 150px;
       margin-right: 30px;
       

   }


   
   .aboutUscontactUstext{
       font-size:23px;
       margin-top: 20px;
       margin-bottom:20px;
       margin-left: 35%;
       margin-right: 30px;
       padding-bottom: 50px;
       color: aliceblue;
       

   }
  
   .aboutUscontactUshead{
       font-size:40px;
       margin-top: 50px;
       margin-left: 40%;     
       font-weight: 100;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       

   }

   .backgroundColorteam{
       background-color: rgb(34, 129, 173);
   }

   .backgroundColorteamfooterandname{
       background-color: rgb(161, 166, 168);
   }

   .team-member {
       background-color: #11245A;
    }
    
    .team-member.even {
       background-color: #162e6e;
    }
    
    .team-member .hline {
       width: 70px;
       height: 2px;
       margin: 16px auto;
       background-color: rgba(255, 255, 255, 0.445);
    }
    
    .team-member .team-member-img img,
    .team-member .team-member-img .social-icons {
       transition: all 0.4s ease;
    }
    
    .team-member .team-member-img {
       position: relative;
       
       overflow: hidden;
    }
    
    .team-member .team-member-img .social-icons {
       width: 100%;
       height: 60px;
       background-color: #E93B81;
       position: absolute;
       bottom: -60px;
       left: 0;
       display: flex;
       align-items: center;
       justify-content: center;
    
    }
    
    .team-member .team-member-img .social-icons a {
       width: 40px;
       height: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       border: 2px solid rgba(255, 255, 255, 0.5);
       font-size: 24px;
       color: #fff;
       border-radius: 100px;
       margin-left: 4px;
       margin-right: 4px;
    }
    
    .team-member .team-member-img .social-icons a:hover {
       background-color: #fff;
       color: #E93B81;
    }
    
    .team-member:hover .team-member-img .social-icons {
       bottom: 0;
    }
    
    .team-member:hover img {
       transform: translateY(-60px);
    }

    .teamadjust{
       justify-content: center;
    }

    .teamheading{
       font-size:40px;
       margin-top: 10px;
       margin-bottom:40px;
       margin-right: 30px;
       font-weight: 100;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }

.navHeading{
    font-size: 17px;
    font-weight: 500;
}

.teamheading{
    font-size:40px;
    margin-top: 10px;
    margin-bottom:40px;
    margin-left: 10px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.guideImage{
  margin-bottom: 60px;
}

.footer{
    font-weight:bold;
  }

.allFormHeadings{
   font-family: fantasy;
   font-size: 35px;
}

.traineeloginpagelayoutheading{
    font-weight: 400;
    font-size: 33px;
}

.healthdetailsformheading{
    margin-left: 30%;
}

.trainerDashboard{
    font-family: fantasy;
   font-size: 35px;
   font-weight: 500;
}

.loggedinImage{
     
        max-width: 10%;  
        height: 10%; 
        margin-left: 45%; 
        margin-top: 10px;
       
}

.loggedinuser{
   text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.logoutNav{
 
    margin-top: 2px;
   font-weight: 700;
    margin-right: 15px;
}

.logoutNavOwner{
    margin-top: 10px;
    margin-right: 15px;
}


.logoutNavTrainer{

    margin-top: 10px;
    font-weight: 700;
     margin-right: 15px;
}

.navHeadingTrainerHome{
   margin-top: 10px;
}

.calorieCounterChart{
    margin-top: 80px;
}

.calorieChartMen{
    margin-left: 230px;
}

.calorieChartWomen{
    margin-left: 700px;
}

.caloriesImage{
    margin-left: 31%;
    max-width: 500px;
    max-height: fit-content;
   

    
    border-radius: 10px;
    border: 20px soid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3) ;
    /* color: #fff; */
    margin-top: 10px;
    /* margin-bottom: 10px; */
    margin-bottom: 10px;
}


.calorieFormBackground{
    background-color: #F4E0BF;
}